html,
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.h1 {
    grid-row: 1;
    grid-column: span;
    align-self: center;
}

.carousel {
    height: 50vh;
}

.dot {
    height: 2vw;
    width: 2vw;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    transition: all ease-in-out 500ms;
}

.dotimg {
    height: 1.5vw;
    width: 1.5vw;
    margin-left: 0.25vw;
    margin-top: 0.25vw;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    transition: all ease-in-out 500ms;
}

.dot:hover {
    height: 2vw;
    width: 2vw;
    background-color: black;
    border-width: 15px;
    border-color: aqua;
    transition: all ease-in-out 500ms;
}